.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}

.switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background: #565656;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.switch.light button {
  left: calc(100% - 32px);
  background: #fff;
}

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: #565656;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.switch.light span {
  background: #ffffff;
  border: 2px solid #eeeded;
}

/* Efeito hover */
.switch:hover button {
  transform: translateY(-50%);
}

/* Estilo para quando pressionado */
.switch:active button {
  transform: translateY(-50%);
  
}
